.logo img {
   width: 260px;
   height: 80px;
}
img.landscape { 
    max-height: max-content;
    width: max-content;
    border-radius: 10px;
    margin: 10px;
}

#photography img.landscape, #california img.landscape {
    width: max-content;
    max-height: max-content;
}

#illustration img.landscape, #restoration img.landscape {
    width: max-content;
    height: 320px;
}

.landscape:hover {
    transform: scale(1.3);
}
navigation ul li a{
    color: black;
}
.about {
    margin: 30px;
}
.intro {
    line-height: 2.5;
    font-weight: 600;
    margin: 30px;
    margin-bottom: 50px;
    text-align: left;
}
hr {
    margin-bottom: 30px;
}
body h1 {
    margin-left: 10px;
}
body {
    display: flex;
}
.current {
    font-weight: 600;
}
.text-muted {
    font-size: 15px;
    text-align: center;
}
.navigation {
    margin: 60px 10px 50px 50px;
    padding-top: 15px;
}
.navigation ul {
    list-style: none;
    color: black;
    padding: 20px 20px 20px 30px;
    line-height: 25px;
}
nav ul li{
    line-height: 25px;
}

.social-links {
    list-style: none;
    padding: 20px 20px 20px 30px;
    font-weight: 300;
    color: darkgrey;
}
.content {
    margin: 50px 30px 50px 45px;
    padding: 10px 30px 10px 50px;
    max-width: 100%;
}
.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item img:hover {
    transform: scale(1.3);
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: forestgreen;
}

#photography img, #ireland img, #morocco img, #newYork img, #california img {
    height: 320px;
    width: 240px;
}
#illustration img, #painting img {
    height: 320px;
    width: 240px;
}
/*STYLES FOR SMALLER SCREENS */
@media screen and (max-width: 767px){
    .about {
        text-align: center;
        margin-top: 0;
        font-size: 20px;
        font-weight: bold;
    }
    .intro {
        text-align: justify;
        font-size: 12px;
        line-height: 2;
    }
    body {
        display: block;
    }
    .logo {
        text-align: left;
        margin-bottom: 10px;
    }
    .logo img {
        width: 150px;
        height: 40px;
    }
    a .current {
        font-weight: bold;
    }
    .navigation {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin: 20px 40px 40px 40px;
    } 
    .navigation ul {
        display: none;
    }
    .social-links {
        display: none;
  }
  .hamburger-menu {
    display: block; /* Show the hamburger menu */
    cursor: pointer;
    width: 30px;
    height: 30px;
    position:relative;
  }
  .hamburger-menu:before,
  .hamburger-menu:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: transform 0.3s;
  }

  .hamburger-menu:before {
    top: -3px;
  }

  .hamburger-menu:after {
    bottom: -3px;
  }

  .hamburger-menu.open {
    background-color: transparent;
  }

  .hamburger-menu.open:before {
    transform: translateY(15px) rotate(45deg);
  }

  .hamburger-menu.open:after {
    transform: translateY(-17px) rotate(-45deg);
  }
    .navigation ul.open {
        display: flex; /* Show the navigation links when the hamburger menu is clicked */
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 20px;
        border-radius: 0;
        border: none;
      }
    
      .navigation ul.open li {
        margin-bottom: 10px;
      }
      .content {
        margin: 0px;
        padding: 10px 30px 10px 30px;
      }
      .grid-item img:hover {
        transform: none;
    }    
      .dropdown-menu a {
        color: black;
        font-weight: 400;
      }
        .social-icons {
            display: flex;
            margin-top: 10px;
        }
        .socials {
        height: 25px;
        margin: 5px;
    }
        img.landscape {
        height: 200px;    
        width: 300px;
      }
      #photography img.landscape, #california img.landscape {
        width: 300px;
        height: 200px;
      }      
      #illustration img.landscape, #restoration img.landscape {
        width: 300px;
        height: 200px;
      }

    #photography img, #morocco img, #ireland img, #newYork img, #california img {
        width: 300px;
        height: 400px;
      }
      #illustration img, #painting img {
        width: 300px;
        height: 400px;
      }
}

/* ABOUT ME PAGE STYLES
/* .aboutPage {
    display: inline;
}
.aboutMe h5 {
    margin: 50px 80px 30px 80px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.boldName {
    font-weight: bold;
    font-size: 25px;
}
.aboutMe, .backgroundImg, .selfPic {
    margin: 60px;
    padding: 0px 80px 0px 80px;
    text-align: center;

}

.backgroundImg img, .selfPic img {
    max-height: 340px;
    padding: 15px;
} 
END OF ABOUT ME PAGE STYLES*/

hr {
    margin-right: 50px;
    margin-left: 50px;
}

.csp {
    font-weight: bold;
    text-align: center;
}

.grid-container {
    display: grid;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }


#self {
    width: 280px;
}

#cork{
    height: 400px;
    width: 300px;
}
#cork:hover, #koi:hover, #basquiat:hover {
    opacity: 90%;
}

.grid-item img, video {
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

/*#basquiat:hover:after {
    background: black;
    opacity: 50%;
    color: white;
    content: "Basquiat King Pleasure Exhibit NYC";
    position: absolute;
    width: 100%;
    height: 400px;
    text-align: center;
    top: 0;
    left: 0;
    margin-top: 20px;
}
*/